body.drawer-open #drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 16rem;
  z-index: 50;
}

/* Por defecto (pantallas chicas): */
body.drawer-open #main {
  margin-left: 5rem; /* w-20 */
  overflow: auto;
  transition: margin-left 0.2s ease;
}

/* En pantallas medianas o más (md = 768px) */
@media (min-width: 768px) {
  body.drawer-open #main {
    margin-left: 16rem; /* w-64 */
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
