<nav
  class="fixed top-0 left-0 z-40 w-64 h-screen bg-stone-200 dark:bg-stone-900"
>
  <div
    class="flex items-center justify-between p-4 border-b border-gray-200 dark:border-stone-800"
  >
    <a href="#" data-page="home" class="drawer-title">
      <h5
        class="text-base font-semibold text-stone-950 uppercase dark:text-stone-200"
      >
        Aprobacion de Proyectos
      </h5>
    </a>
  </div>

  <ul class="mt-1 text-gray-900 dark:text-white">
    <li>
      <a
        href="#"
        data-page="create-proposal"
        class="flex items-center gap-2 p-4 rounded hover:bg-stone-300 dark:hover:bg-stone-800 page-link"
      >
        <i class="bi bi-file-earmark-plus-fill text-xl"></i>
        Crear Proyecto</a
      >
    </li>
    <li>
      <a
        href="#"
        data-page="my-proposals"
        class="flex items-center gap-2 p-4 rounded hover:bg-stone-300 dark:hover:bg-stone-800 page-link"
      >
        <i class="bi bi-archive-fill text-xl"></i>
        Mis Solicitudes</a
      >
    </li>
    <li>
      <a
        href="#"
        data-page="review-proposals"
        class="flex items-center gap-2 p-4 rounded hover:bg-stone-300 dark:hover:bg-stone-800 page-link"
      >
        <i class="bi bi-eye-fill text-xl"></i>
        Revisar Solicitudes</a
      >
    </li>
    <li>
      <a
        href="#"
        data-page="user"
        class="flex items-center gap-2 p-4 rounded hover:bg-stone-300 dark:hover:bg-stone-800 page-link"
      >
        <i class="bi bi-person-fill text-xl"></i>
        Usuario</a
      >
    </li>
    <li>
      <a
        href="#"
        id="themeToggle"
        class="flex items-center gap-2 p-4 rounded hover:bg-stone-300 dark:hover:bg-stone-800 page-link"
      >
        <i id="themeIcon" class="bi bi-moon-fill text-xl"></i>
        <span id="themeLabel"></span>
      </a>
    </li>
  </ul>
</nav>
